body {
    background-color: white;
  }
  
  h1 {
    color: #1ab7de;
    text-align: center;
  }

  h1 {
    color:#1ab7de ;
    text-align: center;
  }


   h2 {
    color:   #1ab7de;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  <!-- This is a comment -->

  .navbar{ 
  

  
  }
  
  .icon{ 
  width: 200px;
  float: left; 
  height: 70px;
  }



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
    font-size: 30px;
    background-color: rgb(59, 177, 232);
  
    
  }
  
  li {
    display: inline;
    
    margin: 18px;
  
    
  }